
<div class="welcome">
    <p class-"lead">Welcome to On The Record, your pre-loved vinyl specialists!</p>
</div>

<div class="container-fluid">
    <p id="notice"><%= notice %></p>
      <h1 class="recently-added">Recently Added</h1>
        <div class="col">
          <div class="row">
            <% @listings.each do |listing| %>
              <div class="col-3">
                <div class="card" style="width: 18rem;">    
                  <div class="card-img-top"><%= image_tag(listing.album_image.thumb.url, alt: 'Image') if listing.album_image?%></div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <h4><li class="list-group-item"><%= listing.artist_name %></li></h4>
                      <h5><li class="list-group-item"><%= listing.album_name %></li></h5>
                        <div class="card-text">
                        <li class="list-group-item"><%= listing.category %></li>
                        <li class="list-group-item">$<%= listing.price %></li>
                        <li class="list-group-item">$<%= listing.shipping %></li>
                      </div>
                      <div class="btn search-button"><%= link_to 'Show', listing %></div>
                      
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
  </div>


<<<<<<< HEAD
  <p id="notice"><%= notice %></p>

  <h1>Listings</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Album image</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Shipping</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |listing| %>
        <tr>      
          <td><%= image_tag(listing.album_image.small_thumb.url, alt: 'Image') if listing.album_image? %> </td>
          <td><%= listing.artist_name %></td>
          <td><%= listing.album_name %></td>
          <td><%= truncate(listing.description, length: 10) %></td>
          <td><%= listing.category %></td>
          <td><%= listing.price %></td>
          <td><%= listing.shipping %></td>
          <td><%= link_to 'Show', listing %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Listing', new_listing_path %>
</div>



<%# Search functionality %>
<div class="container">
  <% @listing.each do |listing| %>
    <div class="container bg-white border-grey p-4">
      <div class="col">
        <div class="row">
          <div class="col-6">
            <%= image_taglisting.book_image.url(:medium), class: "book-overview-image" %>
          </div>
          <div class="col-6 text-center">
            <h4 class="font-heading pt-2">
              <%=listing.title %>
            </h4>
            <h6 class="mt-4 font-heading">
              <%=listing.author %>
            </h6>

            <%= link_to "View Details",listing, target: "_blank", class: "btn-blue btn font-white mt-5", :method => :get %>

          </div>
        </div>
        <div class="row bg-green pt-2 pb-2 mt-4 font-white">
          <div class="col rrp"><strong>RRP:</strong> $<%=listing.recommended_retail_price %>.00</div>
          <div class="col your-price"><strong>Your price:</strong> $<%=listing.price %>.00</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
=======
>>>>>>> styling
