
<div class="welcome">
    <p class-"lead">Welcome to On The Record, your pre-loved vinyl specialists!</p>
</div>

<div class="container-fluid">
    <p id="notice"><%= notice %></p>
      <h1 class="recently-added">Recently Added</h1>
        <div class="col-md-12">
          <div class="row">
            <% @listings.each do |listing| %>
            <div class="card-group">
                <div class="card" style="width: 18rem;">    
                  <div class="card-img-top"><%= image_tag(listing.album_image.thumb.url, alt: 'Image') if listing.album_image?%></div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <h5><li class="list-group-item"><%= listing.artist_name %></li></h5>
                      <small class="text-muted"><li class="list-group-item"><%= listing.album_name %></li></small>
                        <div class="card-text">
                        <li class="list-group-item"><%= listing.category %></li>
                        <li class="list-group-item">$<%= listing.price %></li>
                        <li class="list-group-item">$<%= listing.shipping %></li>
                      </div>
                    </ul>
                  </div>
                  <btn class="btn search-button"><%= link_to 'View', listing %></btn>
                </div>
              </div>
            <% end %>
          </div>
        </div>
  </div>
