
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">ON THE RECORD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
        <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
        <%=link_to "Profile", edit_user_registration_path , class: "nav-link"%>
        <a class="nav-link" href="<%= new_listing_path %>">Create Listing</a>      
      <% else %>
        <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
        <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
        <a class="nav-link" href="<%= new_listing_path %>">Create Listing</a>
      <% end %>
    </ul>

     <ul class="nav navbar-nav navbar-right">
      <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
        <div class="row">
          <%= text_field_tag :search, params[:search], placeholder: "", class: "form-control col-6 mr-2" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-blue font-white col-4" %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="welcome">
    <p class-"lead">
      Welcome to On The Record, your pre-loved vinyl specialists!</p>
    </div>

    <p id="notice"><%= notice %></p>
      <h1 class="recently-added">Recently Added</h1>
        <div class="col">
          <div class="row">
            <% @listings.each do |listing| %>
              <div class="col-3">
                <div class="card" style="width: 18rem;">    
                  <div class="card-img-top"><%= image_tag(listing.album_image.thumb.url, alt: 'Image') if listing.album_image?%></div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <h4><li class="list-group-item"><%= listing.artist_name %></li></h4>
                      <h5><li class="list-group-item"><%= listing.album_name %></li></h5>
                        <div class="card-text">
                        <li class="list-group-item"><%= truncate(listing.description, length: 10) %></li>
                        <li class="list-group-item"><%= listing.category %></li>
                        <li class="list-group-item">$<%= listing.price %></li>
                        <li class="list-group-item">$<%= listing.shipping %></li>
                      </div>
                      <div class="btn"><%= link_to 'Show', listing %></div>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
  </div>

